body {
    background-color: black;
}

.title {
    font-size: 28pt;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline;
}

.board {
    width: 700px;
    height: 800px;;
    margin: auto;
    background-color: lightgrey;
    border-radius: 20px;
}

.board .links {
    margin: 0 auto;
    width: 50%;
    height: 40px;
}

.board li {
    float: left;
    margin: 10px;
    list-style: none;
}

td {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 50px;
}

.scoring {
    position: relative;
    left: 10%;
    top: -500px;
}

table#score .score {
    width: 100px;
    background-color: white;
    text-align: center;
}

table#lines .lines {
    width: 50px;
    background-color: white;
    text-align: center;
}

table#playfield {
    position: relative;
    left: 41%;
}

table#next-block {
    position: relative;
    left: 10%;
    top: -550px;
    border: 1px solid black;
}

table#next-block td {
    border: none;
}

h1 {
    padding-top: 20px;
    text-align: center;
}
